$primary-color: #2f93ca;
$primary-color-dark: #2a84b5;
$blue1: #0091dc;
$blue2: #c1e8fc;
$blue3: #3c80a3;
$blue4: #1e5497;

$secondary-color: #ff6a80;
$secondary-color-lighter: #ff788c;
$secondary2: #ff4e6a;
$secondary3: #f78aad;
$secondary4: #ef486e;
$secondary5: #ff0083;

$white: #ffffff;

$grey-lightest: #fbfbfb;
$grey-lightest2: #fdfdfd;
$grey-lighter: #f0f2f5;
$grey-light: #dfe4eb;
$grey-dark: #a5b0bf;
$grey-darker: #737d8c;
$grey-darkest: #56606f;
$black: #2c2c2c;

$border-color: #f0f2f5;
$error-color: #fd8c84;
